a {
text-decoration-line: none;
color:red;
font-size:20px;
padding:10px;
}


p {
text-align: center;
text-decoration: none !important
}

img{
border:100px;
width:500px;
height:700px;

}
h2{
margin:0px;
padding:0px;
}
h3{
margin:0px;
padding:0px;
}
h4{
font-size:13px;
margin:0px;
padding:10px;
}
